#omikuji
  %p omikuji
  #btn ?
  #selectResult.hidden
    = render "layouts/result"


= javascript_include_tag 'games/omikuji.js', 'data-turbolinks-track': 'load'
= javascript_include_tag 'games/point_up.js'