#quize
  %p quize
  %section.container
    %p#question
    %ul#choices
    #btn.disabled Next
    %section#result.hidden
      %p
      %a{:href => ""} Replay?
= javascript_include_tag 'games/quize.js'
