<div id="timerPage">
  <p>timer</p>

  <div class="container">
    <div id="timer">00:00.000</div>
    <div class="controls">
      <div class="btn" id="start">Start</div>
      <div class="btn" id="stop">Stop</div>
      <div class="btn" id="reset">Reset</div>
    </div>
  </div>
</div>

<%= javascript_include_tag 'games/timer.js' %>