#timerPage
  %p timer
  .container
    #timer 00:00.000
    .controls
      #start.btn Start
      #stop.btn Stop
      #reset.btn Reset
  #selectResult.hidden
    = render "layouts/result"

= javascript_include_tag 'games/timer.js'
= javascript_include_tag 'games/point_up.js'
