#touch
  %p touch
  #container
    #timer 0.00
    %ul#board
    #btn START
  #selectResult.hidden
    = render "layouts/result"

= javascript_include_tag 'games/touch.js'
= javascript_include_tag 'games/point_up.js'