header{
  width: 100%;
  background: #ccc;
  display: flex;
  justify-content: space-between;
  height: 60px;
  line-height: 60px;
  box-sizing: border-box;
  padding: 0 20px;
  .header-left{
    a {
      text-decoration: none;
      color: #000;
      cursor: pointer;
      user-select: none;
    }
  }
  .header-right{

  }
}