header{
  width: 100%;
  background: #ccc;
  display: flex;
  justify-content: space-between;
  height: 60px;
  line-height: 60px;
  box-sizing: border-box;
  padding: 0 20px;
  .header-left{
    a {
      text-decoration: none;
      color: #000;
      cursor: pointer;
      user-select: none;
    }
  }
  .header-right {
    display: flex;
    .user_top_info {
      display: flex;
      &>li{
        margin-right: 20px;
        height: 60px;
      }
      .point_1up{
        color: $red1;
        background: $yellow1;
        transition: .8s;
        border-radius: 5px;
        font-size: 20px;
        font-weight: bold;
        padding-right: 10px;
        padding-left: 10px;
      }
    }
    a {
      margin-right: 20px;
    }
  }

}