header{
  width: 100%;
  background: #ccc;
  display: flex;
  justify-content: space-between;
  height: 60px;
  line-height: 60px;
  box-sizing: border-box;
  padding: 0 20px;
  .header-left{
    a {
      text-decoration: none;
      color: #000;
      cursor: pointer;
      user-select: none;
    }
  }
  .header-right {
    display: flex;
    .user_top_info {
      display: flex;
      &>li{
        margin-right: 20px;
      }
    }
    a {
      margin-right: 20px;
    }
  }

}